.footer-background {
	background-color: #026666;
}

#footer a {
	color: black;
}
  
#footer h6 {
	color: white;
}

.social-btn {
	padding: 10px 15px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	background: #1D3E4D;
}

.social-btn i > svg {
	color: white;
	margin-bottom: 8px;
}

.social-btn:hover {
	background: rgb(35, 74, 92);
}